*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
java/target/
csharp/SocialNetworksHub/obj/
csharp/SocialNetworksHub/bin/
csharp/SocialNetworksHub.Tets/bin/
csharp/SocialNetworksHub.Tets/obj/
csharp/SocialNetworksHub/packages/
csharp/docs/*.png
js/docs/*.png
